---
import Laravel from './icons/Laravel.astro'
import Tailwind from './icons/Tailwind.astro'
import GitHubIcon from './icons/GitHub.astro'
import SocialPill from './SocialPill.astro'

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "bg-black/80 text-white",
        icon: Laravel,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159]/80 text-white",
        icon: Tailwind,
    }
}

const PROJECTS = [
    {
        title: 'Blog Dinámico con Laravel, Livewire y Tailwind CSS',
        description: 'Este proyecto es un blog dinámico desarrollado utilizando Laravel como framework principal, Livewire para la creación de componentes interactivos y Tailwind CSS para el diseño responsivo. El blog permite la gestión eficiente de publicaciones, con funcionalidades de paginación y actualización en tiempo real sin necesidad de recargar la página. Además, ofrece una interfaz moderna y atractiva, optimizada para una experiencia de usuario fluida y rápida.',
        link: '#',
        github: 'https://github.com/Althalost/blog',
        image: '/projects/project2.webp',
        tags: [TAGS.LARAVEL, TAGS.TAILWIND],
    },
    {
        title: 'Sistema de Gestión de Datos Estudiantiles para Escuelas Primarias',
        description: 'Desarrollado con Laravel y Filament PHP, este sistema web está diseñado para facilitar la gestión de los datos personales de los estudiantes en escuelas primarias. Ofrece una interfaz intuitiva y segura para registrar, actualizar y consultar información esencial de los alumnos, incluyendo datos personales, académicos y de contacto. Con funcionalidades avanzadas de búsqueda y filtrado, este sistema asegura que los administradores escolares puedan acceder rápidamente a la información necesaria, mejorando la eficiencia y la organización en la gestión educativa.',
        link: '#',
        github: 'https://github.com/Althalost/SGEPBF',
        image: '/projects/project3.webp',
        tags: [TAGS.LARAVEL, TAGS.TAILWIND],
    },
]
---

{
    PROJECTS.map(({title, description, image, github, tags}) => (
       /*  <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800/40 lg:hover:border-gray-700/40">
                    <img class="object-cover object-top w-full h-80 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image} alt={`Screenshot from project ${title}`}>
                </div>
                
            </div>
            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-yellow-200 mb-2">{title}</h3>
                <div class="flex flex-wrap mt-2">
                    <ul class="flex gap-x-2 flex-row mb-2">
                        {tags.map((tag)=> (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4"/>
                                    {tag.name}  
                                </span>
                            </li>
                        ))
                        }
                    </ul>
                    <p class="mt-2 text-gray-700 dark:text-gray-300">{description}</p> 
                </div>
                {github && (
                <SocialPill href={github}>
                    <GitHubIcon class="size-6" />
                    Codigo
                </SocialPill>
            )}
            </div>
        </article> */ 
        <div class=" flex flex-col items-center bg-white/40 border border-gray-200 rounded-lg shadow-lg md:flex-row hover:bg-white dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover object-left rounded-t-lg h-48 w-full md:h-96 md:w-96 md:rounded-none md:rounded-s-lg" src={image} alt="">
            <div class="flex flex-col justify-between p-4 md:h-96 py-3 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
                <ul class="flex gap-x-2 flex-row mb-2">
                        {tags.map((tag)=> (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4"/>
                                    {tag.name}  
                                </span>
                            </li>
                        ))
                        }
                </ul>
                <p class="mb-3 font-normal w-full text-pretty text-gray-700 dark:text-gray-300">{description.substring(0, 400) + "..."}</p>
                {github && (
                <a href={github} target="_blank" class="rounded dark:border-white/10 flex
                            justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 mx-4
                            text-xs lg:text-base
                            bg-gradient-to-r from-gray-400/80 via-gray-200 to-gray-300 dark:bg-white/5 hover:scale-105 hover:bg-gray-300 transition">
                    <GitHubIcon class="size-6 items-center inline-block" />
                    Codigo
                </a>
                )}
            </div>
        </div>
    ))
}