---
import Laravel from './icons/Laravel.astro'
import Tailwind from './icons/Tailwind.astro'

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "bg-black text-red",
        icon: Laravel,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    }
}

const PROJECTS = [
    {
        title: 'Project 1',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, aliquid deleniti? Dolorum omnis vero corporis cumque, numquam nisi in repellendus quas suscipit vel beatae. Dolore aut deleniti laboriosam quo eius.',
        link: '#',
        github: '#',
        image: '/projects/project1.webp',
        tags: [TAGS.LARAVEL, TAGS.TAILWIND],
    }
]
---

{
    PROJECTS.map(({title, description, image, tags}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag)=> (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/>
                            {tag.name}  
                        </span>
                    </li>
                ))
                }
            </ul>
            <img class="rounded shadow-2xl shadow-white/20" src={image} alt={`Screenshot from project ${title}`}>
        </article>
    ))
}