---
import Laravel from './icons/Laravel.astro'
import Tailwind from './icons/Tailwind.astro'
import GitHubIcon from './icons/GitHub.astro'

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "bg-black/80 text-white",
        icon: Laravel,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159]/80 text-white",
        icon: Tailwind,
    }
}

const PROJECTS = [
    {
        title: 'Blog Dinámico con Laravel, Livewire y Tailwind CSS',
        description: 'Este proyecto es un blog dinámico desarrollado utilizando Laravel como framework principal, Livewire para la creación de componentes interactivos y Tailwind CSS para el diseño responsivo. El blog permite la gestión eficiente de publicaciones, con funcionalidades de paginación y actualización en tiempo real sin necesidad de recargar la página. Además, ofrece una interfaz moderna y atractiva, optimizada para una experiencia de usuario fluida y rápida.',
        link: '#',
        github: 'https://github.com/Althalost/blog',
        image: '/portfolio-alth-dev/projects/project2.webp',
        tags: [TAGS.LARAVEL, TAGS.TAILWIND],
    },
    {
        title: 'Sistema de Gestión de Datos Estudiantiles para Escuelas Primarias',
        description: 'Desarrollado con Laravel y Filament PHP, este sistema web está diseñado para facilitar la gestión de los datos personales de los estudiantes en escuelas primarias. Ofrece una interfaz intuitiva y segura para registrar, actualizar y consultar información esencial de los alumnos, incluyendo datos personales, académicos y de contacto. Con funcionalidades avanzadas de búsqueda y filtrado, este sistema asegura que los administradores escolares puedan acceder rápidamente a la información necesaria, mejorando la eficiencia y la organización en la gestión educativa.',
        link: '#',
        github: 'https://github.com/Althalost/SGEPBF',
        image: '/portfolio-alth-dev/projects/project3.webp',
        tags: [TAGS.LARAVEL, TAGS.TAILWIND],
    },
]
---

{
    PROJECTS.map(({title, description, image, github, tags}) => (
        <div class=" flex flex-col items-center rounded-lg shadow-lg md:flex-row dark:border-gray-700 bg-gradient-to-b from-blue-900/40 via-black/5 to-black/5 dark:from-purple-900/30 dark:via-black/30 dark:to-black/30 dark:hover:bg-gray-700/50">
            <img class="object-cover object-left rounded-t-lg h-48 w-full md:h-96 md:w-96 md:rounded-none md:rounded-s-lg" src={image} alt="">
            <div class="flex flex-col justify-between p-4 md:h-96 py-3 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white/95">{title}</h5>
                <ul class="flex gap-x-2 flex-row mb-2">
                        {tags.map((tag)=> (
                            <li>
                                <span class={`flex gap-x-2 border border-white/15 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4"/>
                                    {tag.name}  
                                </span>
                            </li>
                        ))
                        }
                </ul>
                <p class="mb-3 font-normal w-full max-w-full overflow-hidden text-pretty text-gray-800 dark:text-gray-300">{description.substring(0, 400) + "..."}</p>
                {github && (
                <a href={github} target="_blank" class="text-white bg-[#24292F] hover:bg-[#24292F]/90 border border-white/10 focus:ring-4 focus:outline-none
                        focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-10 py-2.5 text-center w-fit items-center
                        dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30">
                    <GitHubIcon class="size-6 items-center inline-block dark:text-gray-200" />
                    <span class="ml-2">Código</span>
                </a>
                )}
            </div>
        </div>
    ))
}